.tox[dir="rtl"] {
	font-family: Shabnam,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
}
.tox[dir="rtl"] .tox-label {
	padding: 0 0 4px 8px !important;
}
.tox .tox-form__group {
	margin-bottom: 12px !important;
}
.tox .tox-dropzone {
	background: transparent !important;
}
.tox .tox-dialog__body-nav-item {
	margin-bottom: 12px !important;
}